* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* rubik-regular - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v21-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/rubik-v21-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik-v21-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/rubik-v21-latin_cyrillic-regular.woff") format("woff"), url("../fonts/rubik-v21-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/rubik-v21-latin_cyrillic-regular.svg#Rubik") format("svg");
  /* Legacy iOS */
}

/* rubik-700 - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-v21-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/rubik-v21-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik-v21-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/rubik-v21-latin_cyrillic-700.woff") format("woff"), url("../fonts/rubik-v21-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/rubik-v21-latin_cyrillic-700.svg#Rubik") format("svg");
  /* Legacy iOS */
}

.header-w {
  width: 100%;
}

.header {
  position: relative;
  width: 100%;
  padding: 23px 0px 19px 0px;
  background-color: #111111;
  z-index: 1;
}

.header__inner {
  max-width: 1342px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0 15px;
}

@media only screen and (max-width: 991px) {
  .header__inner {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media only screen and (max-width: 991px) {
  .header__menu {
    display: none;
  }
}

.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .nav__list-item:not(:last-child) {
  margin-right: 40px;
}

@media only screen and (max-width: 1279px) {
  .header .nav__list-item:not(:last-child) {
    margin-right: 25px;
  }
}

.header .nav__list-item-link {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

@media only screen and (max-width: 1279px) {
  .header .nav__list-item-link {
    font-size: 16px;
  }
}

.header .nav__list-item-link:hover {
  color: #FCB500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0px 76px 0px 0px;
}

@media only screen and (max-width: 1279px) {
  .header__phone {
    margin: 0px 30px 0px 0px;
  }
}

@media only screen and (max-width: 991px) {
  .header__phone {
    display: none;
  }
}

.header__basket {
  position: relative;
}

.header__basket-svg:hover path {
  fill: #FCB500;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header__basket-count-w {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #FCB500;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: -5px;
  bottom: -4px;
}

.header__basket-count-products {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #000000;
}

.logo:hover path {
  fill: #FCB500;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.burger {
  display: none;
  position: relative;
  width: 40px;
  height: 30px;
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  .burger {
    display: block;
  }
}

.burger::before, .burger::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.burger::before {
  top: 0;
  left: 0;
}

.burger::after {
  bottom: 0;
  left: 0;
}

.burger__line-center {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FFF;
  top: 50%;
  left: 0;
}

.burger--js-active::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
}

.burger--js-active::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 50%;
}

.burger--js-active .burger__line-center {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.main {
  width: 100%;
}

.hero {
  width: 100%;
  min-height: 792px;
  background: url(../images/hero-background.jpg) no-repeat;
  background-size: cover;
  padding: 96px 0px;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .hero {
    padding: 70px 0px;
    min-height: 500px;
  }
}

@media only screen and (max-width: 575px) {
  .hero {
    padding: 60px 0px;
    min-height: 400px;
  }
}

.hero__inner {
  max-width: 1342px;
  width: 100%;
  min-height: 576px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

@media only screen and (max-width: 991px) {
  .hero__inner {
    min-height: 500px;
  }
}

@media only screen and (max-width: 767px) {
  .hero__inner {
    min-height: 450px;
  }
}

@media only screen and (max-width: 575px) {
  .hero__inner {
    min-height: 324px;
  }
}

@media only screen and (max-width: 1279px) {
  .hero__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__title {
  position: relative;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 144px;
  line-height: 152px;
  color: #FFFFFF;
  margin-bottom: 24px;
  z-index: 1;
}

@media only screen and (max-width: 1279px) {
  .hero__title {
    font-size: 130px;
    text-align: center;
  }
}

@media only screen and (max-width: 991px) {
  .hero__title {
    font-size: 100px;
    line-height: 110px;
  }
}

@media only screen and (max-width: 767px) {
  .hero__title {
    font-size: 80px;
    line-height: 95px;
  }
}

@media only screen and (max-width: 575px) {
  .hero__title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 367px) {
  .hero__title {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 12px;
  }
}

.hero__text {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

@media only screen and (max-width: 1279px) {
  .hero__text {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .hero__text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 575px) {
  .hero__text {
    font-size: 12px;
    line-height: 23px;
  }
}

@media only screen and (max-width: 1279px) {
  .hero__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__subtitle {
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  margin-bottom: 16px;
}

@media only screen and (max-width: 575px) {
  .hero__subtitle {
    text-align: center;
    font-size: 28px;
  }
}

@media only screen and (max-width: 367px) {
  .hero__subtitle {
    font-size: 16px;
    line-height: 30px;
  }
}

.hero__description {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

@media only screen and (max-width: 575px) {
  .hero__description {
    font-size: 12px;
    text-align: center;
  }
}

.hero__img {
  height: 984px;
  position: absolute;
  top: -11%;
  right: 0;
  z-index: 0;
}

@media only screen and (max-width: 1279px) {
  .hero__img {
    display: none;
  }
}

.discount {
  width: 100%;
  min-height: 926px;
  background-color: #111111;
  padding: 110px 0px;
}

@media only screen and (max-width: 575px) {
  .discount {
    padding: 80px 0px;
  }
}

.discount__inner {
  max-width: 1412px;
  width: 100%;
  min-height: 704px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 991px) {
  .discount__inner {
    min-height: 1200px;
  }
}

@media only screen and (max-width: 575px) {
  .discount__inner {
    min-height: 1150px;
  }
}

.discount__top {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discount__title {
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  color: #FFFFFF;
  text-align: center;
}

@media only screen and (max-width: 991px) {
  .discount__title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .discount__title {
    font-size: 30px;
  }
}

@media only screen and (max-width: 575px) {
  .discount__title {
    font-size: 20px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 367px) {
  .discount__title {
    font-size: 16px;
  }
}

.discount__title--color-orange {
  color: orange;
}

.discount__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discount__price {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 59px;
}

.discount__products {
  max-width: 1084px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 991px) {
  .discount__products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 991px) {
  .discount__products-item:not(:last-child) {
    margin-bottom: 60px;
  }
}

.discount__button {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 57px;
  color: #FFFFFF;
  text-align: center;
}

@media only screen and (max-width: 991px) {
  .price {
    font-size: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .price {
    font-size: 30px;
  }
}

@media only screen and (max-width: 575px) {
  .price {
    font-size: 20px;
  }
}

@media only screen and (max-width: 367px) {
  .price {
    font-size: 16px;
  }
}

.price--old {
  font-size: 36px;
  line-height: 43px;
  color: #ADADAD;
  text-decoration: line-through;
  margin: 0px 32px 0px 0px;
}

@media only screen and (max-width: 991px) {
  .price--old {
    font-size: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .price--old {
    font-size: 30px;
  }
}

@media only screen and (max-width: 575px) {
  .price--old {
    font-size: 20px;
  }
}

@media only screen and (max-width: 367px) {
  .price--old {
    font-size: 16px;
  }
}

.product {
  max-width: 193px;
  width: 100%;
  min-height: 294px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 991px) {
  .product {
    min-height: 240px;
  }
}

.product--nootris {
  max-width: 480px;
  width: 100%;
}

.product__img {
  max-width: 100%;
}

.product__description {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.product__description--nootris {
  font-size: 36px;
  line-height: 43px;
}

@media only screen and (max-width: 575px) {
  .product__description--nootris {
    font-size: 30px;
  }
}

.product__name {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: orange;
}

.product__price {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FCB500;
  text-align: center;
}

.button {
  display: inline-block;
  width: 256px;
  height: 56px;
  background: orange;
  border-radius: 7px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__name {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.button:hover {
  opacity: 0.6;
}
/*# sourceMappingURL=styles.css.map */